.HomePage h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 4rem;
}


.HomePage-container {
  margin-top: 20vh;
}

/* Tablet screen sizing */
@media screen and (min-width: 768px) {

  .HomePage h1 {
    font-size: 5rem;
  }

}

/* Laptop/desktop sizing */
@media screen and (min-width: 1024px) {
  
  .HomePage h1 {
    font-size: clamp(80px, 7.8vw, 100px);
  }

  
}