.ArticlePage {
  width: 75%;
  margin: auto;
}

.ArticlePage-body {
  text-align: justify;
}

.ArticlePage-body .element-embed,
.ArticlePage-body .element-rich-link {
  display: none;
}

/* TODO: Address styling for possible embedded images, tweets */