.Nav {
  text-align: left;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

  display: flex;
  justify-content: center;

  z-index: 1;
}

.Nav-burger-wrapper,
.Nav-profile-wrapper,
.Nav-close {
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav-burger-wrapper {
  margin-right: auto;
}

.Nav-close-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 0%;
  width: 100vw;
  overflow: hidden;
  background-color: white;
}

.Nav-burger div {
  background-color: black;
  width: 2rem;
  height: 3px;
  margin: 0.5rem;
  border-radius: 1.5px;
}

.Nav-burger div:nth-child(2) {
  width: 1.5rem;
}

.Nav-burger div:last-child {
  width: 1.75rem;
}

.Nav-links {
  display: flex;
  flex-direction: column;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5rem;
  margin-top: 15vh;
}

.Nav-links a {
  margin-top: 1.25rem;
  margin-left: 2rem;
}

/* Tablet sizing */
@media screen and (min-width: 768px) {
  
  .Nav-links {
    font-size: 4rem;
  }

}

/* Laptop/Desktop sizing */
@media screen and (min-width: 1024px) {

  .Nav-burger-wrapper,
  .Nav-close,
  .Nav-profile-wrapper {
    display: none;
  }

  .Nav-close-wrapper {
    height: 5vw;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Nav-links {
    width: 100vw;
    margin-top: unset;
    font-size: 1.5vw;

    flex-direction: row;
    align-items: center;
  }

  .Nav-links a {
    margin: 0 2rem;
  }

  .Nav-links a:nth-child(2) {
    margin-right: auto;
  }

}